{% extends "base.html" %}
{% load static %}

{% block page_content %}

    <div id="carouselExample" class="carousel carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <!-- Testing static tah -->
      <img src="{% static 'me/img/test.jpg' %}" class="img-fluid rounded" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Hi, nice to meet you!</h5>
        <p>I'm Mariano</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/static/me/img/vivado.png" class="img-fluid rounded" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>I'm a Computer Engineering Masters Student Graduating in May 2021. </h5>
        <p>I'm Currently looking for positions in Hardware or Software Engineering.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/me/img/android.png" class="img-fluid rounded" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Feel free to browse my projects and check out my resume</h5>
        <p>If you think I can be a good fit for your company, <a href="{% url 'contact' %}"> <span class="badge rounded-pill bg-success">contact me :) </span></a></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    <!-- OLD code database relying
    <div class="d-grid gap-3">
    {% for i in introduction%}
              <main class="">
                <h2>{{ i.title }}</h2>
                <p>{{ i.about_me }}</p>
                  <p>{{ i.call_to_action}}</p>
                  <img class="img-fluid" src="{% static i.image %}">
              </main>
    {% endfor %}
    -->

    </div>

    <br>


{% endblock %}